<section class="about-section">
    <div class="container">
        <div class="content-container">
            <div class="about-section-callout">
                <h2>About The Other Company</h2>
                <p>Based in Italy, X is the second-biggest chocolate producer and confectionary company in the world. Family owned with a global footprint, X has approximately 40,000 employees, 38 trading companies plus 18 factories producing brands like X, X and X.</p>
                <a href="/careers" class="btn btn-primary">Download Fact Sheet<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>