<aside class="off-canvas-slidebar" off-canvas="off-canvas right push" style="margin-right: -255px;">
    <div class="off-canvas-nav">
        <ol>
            <li class="nav-item--level-1 ">
                <a id="BrandsNavLink" href="/brands">Home</a><span class="plus"></span>
            </li>
            <li class="nav-item--level-1">
                <a id="AboutNavLink" href="/news/index.html">News</a><span class="plus"></span>
            </li><li class="nav-item--level-1 ">
                <a id="CommunityNavLink" href="/faq/index.html">FAQ</a><span class="plus"></span>
            </li>
        </ol>


    
<ul>
    <li>
        <a id="NewsNavLink" class="" href="/news">News</a>
    </li>
    <li>
        <a id="AskWellsNavLink" class="" href="/ask-wells">Ask Wells</a>
    </li>
    <li class="social-media-icon">
        <a target="_blank" href="https://www.facebook.com/WellsEntInc/" aria-label="Facebook" title="Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
    </li>
    <li class="social-media-icon">
        <a target="_blank" href="https://www.instagram.com/wellsentinc/" aria-label="Instagram" title="Instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a>
    </li>
    <li class="social-media-icon">
        <a target="_blank" href="https://www.linkedin.com/company/wells-enterprises" aria-label="LinkedIn" title="LinkedIn"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a>
    </li>
</ul>


</div>

    </aside>