<section class="half-product-boxes contact-section">
    <div class="half-product-box">
        <div class="half-image left">
            <a href="/values"></a>
        </div>
        <div class="half-content">
            <div class="content">
                <a href="/values">
                    <picture>
                        <source type="image/webp" srcset="https://wellsenterprisesinc.azureedge.net/content/images/bomb-pop-girl.webp">
                        <img class="half-box-image" alt="Bomb Pop Girl" src="https://wellsenterprisesinc.azureedge.net/content/images/bomb-pop-girl.jpg">
                    </picture>
                </a>
                <h2>Contact Us</h2>
                <p>Have questions about the merger, Wells Enterprises or anything ice cream related? Let us know and we’ll be happy to answer.</p>
                <p class="email">pr@wellsenterprises.com</p>
                <p class="phone">777-777-7777</p>
                {{!-- <a class="block-btn btn btn-primary btn-on-red" href="/values">Learn More <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a> --}}
            </div>
        </div>
    </div>
</section>