<section class="interior-content container">
  <h1>FAQs</h1>
  <p>Have questions about the merger — or company X? Wondering about the future of Wells? Let’s talk about it. Check out some frequently asked questions about the newest chapter in our history.</p>
  <div class="block-accordions">
    <div class="block-accordion">
      <h4>What requirements must taste testers meet?</h4>
      <div class="accordion-content">
        <p>Taste testers are required to complete a personal information form, accept and sign the Wells confidentiality agreement and complete a W-9 before participating in their first test. We collect information on demographics and food preferences to help us determine what kinds of tests best suit participants' tastes, interests and identified dietary restrictions. (You will be asked if you are allergic to any foods or on a diet of any kind before participating in a test.)</p>
      </div>
    </div>
    <div class="block-accordion">
      <h4>What is a typical taste testing session like?</h4>
      <div class="accordion-content">
        <p>Once you have signed-up via the online form, periodically we will contact you to find out about your willingness to participate in a taste test. For each taste test opportunity you will be required to complete a survey to determine if you qualify based on your demographic profile. We will inform you the flavors tested and offer several available time-slots from which to choose. Taste testing sessions on average last about an hour. Once you arrive at a session, you will receive a food product to taste and a questionnaire about the product tasted to complete. A moderator will help with instructions and assist participants with the questionnaire.</p>
      </div>
    </div>
    <div class="block-accordion">
      <h4>What's in it for me?</h4>
      <div class="accordion-content">
        <p>At Wells, we value the opinion of our taste testers. In addition to tasting ice cream, you will receive a minimum of $20 upon completion of your tasting session.</p>
      </div>
    </div>
  </div>
</section>