<footer id="footer">
	<div class="footer">
		<div class="footer__bot">
			<div class="container">
				<p class="footer__bot-text">Build with ♥ by canmeepo</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/all.js"></script>
</footer>