<div class="header"> 
  	<div class="container">
		<div class="header__main">
			
		</div>
	</div>
</div>
<div class="subheader">
	<div class="container">
		<div class="subheader__main">
			<div class="subheader__logo">
				<div class="subheader__logo-l"><a href="/"><img></a></div>
				<div class="subheader__logo-r"><a href="/"><span class="text__title-logo">companyname</span></a></div>
			</div>

			<div class="subheader__nav">
				{{>nav}}
			</div>
			<div class="btn__mobile btn__mobile-menu"><span></span></div>
			<div class="mobile">
				{{>nav}}
			</div>
		</div>
	</div>
</div>
