<header class="page-header">
		<div class="page-header-full">
			<div class="page-header-full-container">
				<nav class="header-nav-primary">
					<div class="container">
						<a class="logo" href="/">
							<img alt="Wells Enterprises" src="https://wellsenterprisesinc.azureedge.net/content/images/wells-logo.v2.svg">
						</a>								
						<ol>
						<li class="nav-item--level-1 ">
								<a id="BrandsNavLink" href="/index.html">Home</a>
						</li>
						<li class="nav-item--level-1">
							<a id="AboutNavLink" href="/news/index.html">News</a>
						</li>
						<li class="nav-item--level-1">
							<a id="CommunityNavLink" href="/faq/index.html">FAQ</a>
						</li>
						</ol>
					</div>
				</nav>
			</div>
		</div>
		<div class="page-header-compact">
			<div class="page-header-compact-container">
				<div class="header-nav-compact">
					<a class="logo" href="/">
						<img alt="Wells Enterprises" src="https://wellsenterprisesinc.azureedge.net/content/images/wells-logo.v2.svg">
					</a>
					<button class="off-canvas-trigger" type="button">
						<i class="fa fa-bars"></i>
						<i class="fa fa-close"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="page-header-print">
			<h1><a href="/">Wells Enterprises Inc.</a></h1>
		</div>
</header>
