<section class="hero-section">
    <div class="container">
        <div class="content-container">
            <div class="hero-section-callout">
                <h1>bringing more joy together</h1>
            </div>
        </div>
    </div>
</section>