<section class="hero">
    <div class="container">
        <div class="content-container">
            <div class="hero-img">
                <img src="../img/mike-wells.v2.webp" alt="Picture of Mike Wells">
            </div>
            <div class="hero-callout">
                <h2>this is a quote that can go right here. It will be from the wells ceo statement.”</h2>
                <p>Michael C. Wells, CEO</p>
                <a href="/careers" class="btn btn-primary">Download Letter<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>