.header-post {
	background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
	height: 250px;
    position: relative;
}

@media screen and (max-width: 580px) {
  .header-post {
  	height:160px;
  	&__main {
  		display:none;
  	}
  }

}